apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: genai
data:
  nginx.conf: |
    events {}

    http {
        server {
            listen 80;
            server_name _;

            location / {
                proxy_pass http://genai-frontend-service:3000;
                proxy_http_version 1.1;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }

            location /api/ {
                proxy_pass http://genai-backend-service:8085/api/;
                proxy_http_version 1.1;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }
        }
    }
